<mat-toolbar class="flex justify-between">
  <img alt="logo" class="cursor-pointer" height="50" ngSrc="/assets/logo_p6.png" priority routerLink="/" width="86">
  <div>
    <button (click)="snav.toggle()"
            mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav mode="side" position="end">
    <mat-nav-list class="text-center">

      <a mat-icon-button routerLink="/me">
        <mat-icon>
          face
        </mat-icon>
      </a>
      @for (navigationItem of navigation; track navigationItem) {
        <a mat-list-item [routerLink]="navigationItem.url">
          {{ navigationItem.label }}
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content />
  </mat-sidenav-content>

</mat-sidenav-container>
