<mat-card appearance="outlined" class="p-3 h-full w-full">

  <mat-card-header>
    <mat-card-title>
      <p>{{ article.title }}</p>
    </mat-card-title>
    <mat-card-subtitle>
      <p class="text-gray-500 italic">Par {{ _.upperFirst(article.author.username) }},
        le {{ article.createdAt | date }}</p>
      <mat-chip>
        {{ article.theme.name }}
      </mat-chip>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p class="py-3">{{ _.truncate(article.content, { length: 300 }) }}</p>
  </mat-card-content>

  <mat-card-footer class="text-center py-5">
    <mat-card-actions>
      <button (click)="read(article.id)" color="primary" mat-flat-button>
        Lire
      </button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>

