<app-base>
  @if (article) {
    <article class="w-[90%] sm:w-[60%] mx-auto">
      <div class="flex max-sm:pt-5 max-sm:flex-col-reverse justify-between items-center">
        <h1 class="max-sm:pt-5">{{ article.title }}</h1>
        @if (isAuthor) {
          <div class="flex flex-wrap justify-end items-center gap-3">
            <button mat-flat-button (click)="delete()" color="warn">Supprimer</button>
            <a mat-flat-button [routerLink]="['/articles/edit', article.id]" color="primary">
              Modifier
            </a>
          </div>
        }
      </div>

      <div class="flex max-sm:flex-col justify-center items-center sm:gap-5">
        <span class="italic">Le {{ article.createdAt | date }}</span>
        <span class="text-lg">par {{ _.upperFirst(article.author.username) }}</span>
        <mat-chip>{{ article.theme.name }}</mat-chip>
      </div>

      <div class="sm:my-20 my-10">
        <p class="text-lg">{{ article.content }}</p>
      </div>

      <div class="my-10">
        <mat-divider />
      </div>

      <app-comment-form [articleId]="Number(articleId)" (commentAdded)="refresh()" />

      <div class="my-10">
        <mat-divider />
      </div>

      <div>
        @for (comment of article.comments; track comment.id) {
          <div class="py-3">
            <mat-card appearance="outlined" class="p-3 h-full w-full">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>
                    {{ _.upperFirst(comment.author.username) }}
                  </mat-card-title>
                  <mat-card-subtitle>
                    <p class="italic">
                      {{ comment.createdAt | date }}
                    </p>
                  </mat-card-subtitle>
                </mat-card-title-group>
              </mat-card-header>
              <mat-card-content>
                <p>{{ comment.content }}</p>
              </mat-card-content>
            </mat-card>
          </div>
        }
      </div>
    </article>
  } @else {
    <div class="w-[100vw] flex justify-center items-center">
      <mat-spinner />
    </div>
  }

</app-base>
